body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.left ol {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.form-container {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bar {
    width: 0.1vw;
    height: 90vh;
    background-color: #000000;
    position: absolute;
    top: 5vh;
    left: 49.9vw;
    transform: translateX(-50%);
    border-radius: 30px;
}

.form-title {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.form-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-select input[type="radio"] {
    margin-right: 10px;
}